@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.none {
  display: none;
}

.form__submit {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  overflow: hidden;

  h1 {
    font-size: 2em;
    font-weight: bolder;
    text-transform: uppercase;
    color: $very-dark-violet;
    margin: 0.5em 0;
  }

  p {
    font-size: 1.1em;
    color: $dark-violet;
  }
}

.form__content {
  padding-inline: 0.5em;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 1.5em;

  p {
    color: $red;
    font-size: clamp(0.7em, 4vw, 1em);
    margin: 0.5em 0;
  }

  label {
    color: $very-dark-violet;
    font-weight: bolder;
    font-size: 0.9em;
  }

  input {
    width: 100%;
    padding: 1em 0.8em;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-top: 0.5em;
    cursor: pointer;
    font-family: $font-fam;
    letter-spacing: 1px;
    color: $very-dark-violet;
    font-weight: 600;

    &:invalid {
      border: 2px solid $red;
    }

    &::placeholder {
      color: $gray;
      letter-spacing: 1px;
      font-size: 1.2em;
      font-family: $font-fam;
      padding-left: 1em;
      font-weight: 600;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;

    .date__expire {
      .input_container {
        display: flex;
        gap: 0.5em;
      }
    }
  }
}

button {
  padding: 1em;
  margin-top: 1em;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
  background: $very-dark-violet;
  color: $light-gray;
  font-weight: $font-fam;
  font-size: 1.2em;
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    filter: opacity(0.9);
  }

  &:focus {
    filter: opacity(1);
    transform: translateY(-5px);
  }
}

@media screen and (min-width: $responsive) {
  .form__submit {
    justify-content: center;
    width: 45%;
    margin-top: 0;

    button {
      width: 70%;
    }
  }

  .form__content {
    width: 45%;
    justify-content: center;
    margin-top: 0;

    label {
      letter-spacing: 1px;
    }
  }

  button {
    margin-top: 2em;
  }
}
