@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.wrapper {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  .back_card_container {
    width: 18em;
    height: 15em;
    background-image: url("../../images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;

    p {
      position: absolute;
      right: 9%;
      top: 32%;
      transform: translate(-50%, -50%);
      font-size: 0.9em;
      font-weight: 700;
      color: $white;
    }
  }

  .front_card_container {
    width: 18em;
    height: 12em;
    background-image: url("../../images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 40%;
    left: 0;

    .card_header {
      padding: 0 1.5em;
      display: flex;
      align-items: center;
      gap: 0.5em;

      &::before {
        content: "";
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background: $white;
        display: inline-block;
      }

      &::after {
        content: "";
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: transparent;
        border: 1px solid $white;
        display: inline-block;
      }
    }

    .card_middle {
      @include align-flex(center);
      gap: 1.5em;
      font-weight: 700;
      color: $white;
      letter-spacing: 1px;
      padding-top: 1.5em;
      font-size: 1em;
    }

    .card_footer {
      @include align-flex(space-between);
      padding: 1em 1em 2em;
      font-weight: 700;
      font-size: 0.8em;
      color: $light-gray;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 380px) {
  .wrapper {
    .front_card_container {
      width: 19em;

      .card_middle  {
        font-size: 1.1em;
      }

      .card_footer {
        font-size: 0.9em;
      }
    }

    .back_card_container {
      width: 19em;

      p {
        top: 35%;
      }
    }
  }
}

@media screen and (min-width: $responsive) {
  .wrapper {
    width: 100%;
    height: 98%;
    flex-direction: column-reverse;
    top: -10%;
    left: 60%;

    .front_card_container {
      width: 22em;
      left: 15%;
      font-size: 1.1em;
      justify-content: space-around;
      top: 35%;

      .card_header {
        padding: 1em 1.5em;
      }

      .card_middle  {
        padding-top: 2em;
      }

      .card_footer {
        padding: 1em 1em 0.5em;
      }
    }

    .back_card_container {
      width: 22em;
      right: -18%;
      font-size: 1.1em;

      p {
        top: 40%;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .wrapper {
    height: 80%;
    top: 0;

    .front_card_container {
      left: 30%;
    }
    .back_card_container {
      right: -5%;
    }
  }
}
